@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<p>
    Você não tem permissao para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Clique aqui para voltar para home</a>
</p>